/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "zmk-helpers/helper.h"
#include "includes/cornix54.h"
#include "includes/keycode_japanese.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/ext_power.h>
#include <behaviors/naginata.dtsi>

// tap windows for ctl alt and gui

#define HM_TAPPING_TERM 250
#define HM_TAPPING_REPEAT 210

// quick tapping for shift

#define HM_TAPPING_TERM_FAST 200
#define HM_PRIOR_IDLE 70
#define BASE 0
#define LOWER 1
#define RAISE 2
#define NAGINATA 3

// https://github.com/urob/zmk-config/tree/main#timeless-homerow-mods

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  // right hand
#define THUMBS LH1 LH0 RH0 RH1
#define KEYS_T LH1 LH0 RH0 RH1
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10

/ {
    // Activate ADJUST layer by pressing raise and lower

     macros {
        ng_on: ng_on {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LANGUAGE_1 &kp INTERNATIONAL_4 &to 3>;
        };
        ng_off: ng_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LANGUAGE_2 &kp INTERNATIONAL_5 &to 0>;
        };
    };

        behaviors {
        td_shift_caps: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPSLOCK>;
        };

        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_R KEYS_T>;
            hold-trigger-on-release;
        };

        hm_r: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_L KEYS_T>;
            hold-trigger-on-release;
        };

        hm_shift_l: hm_shift_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_R KEYS_T>;
            hold-trigger-on-release;
        };

        hm_shift_r: hm_shift_r {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_L KEYS_T>;
            hold-trigger-on-release;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <200>;
        };

        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;
            flavor = "hold-preferred";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <200>;
        };
        
        mt_esc_ctrl: mt_esc_ctrl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            retro-tap;
        };

        mt_ret_cmd: mt_ret_cmd {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            retro-tap;
        };


        // ★ Raise / TAB 用（連打＆ショートカット優先の標準設定）
        mt_tab_l2: mt_tab_l2 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;
            flavor = "balanced";           // 割り込み入力を正確に処理し、ショートカットを確実に発動させます
            tapping-term-ms = <200>;       // 標準的な200msに戻し、長押し時のモタつきを無くします
            quick-tap-ms = <200>;          // ⭐これです！200ms以内のトントンという叩きは、100%確実にTAB連打になります
             //retro-tap;
        };

        // ★ Lower / BSPC 用（連打＆ショートカット優先の標準設定）
        mt_del_l1: mt_del_l1 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;
            flavor = "balanced";           // 割り込み入力を正確に処理し、ショートカットを確実に発動させます
            tapping-term-ms = <200>;       // 標準的な200msに戻し、長押し時のモタつきを無くします
            quick-tap-ms = <200>;          // ⭐これです！200ms以内のトントンという叩きは、100%確実にBSPC連打になります
            // retro-tap;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_ng_on {
            timeout-ms = <300>;
            key-positions = <18 19>; // H, J
            bindings = <&ng_on>;
            layers = <0>;
        };
        combo_ng_off {
            timeout-ms = <300>;
            key-positions = <16 17>; // F, G
            bindings = <&ng_off>;
            layers = <0 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

         // 0. ベースレイヤー（Default）
        default_layer {
            display-name = "Base";
            bindings = <
&kp TAB         &kp Q    &kp W     &kp E             &kp R      &kp T                      &kp Y      &kp U    &kp I         &kp O       &kp P         &kp BSPC
&ng LCTRL       &kp A    &kp S     &kp D             &kp F      &kp G                              &kp H      &kp J    &kp K         &kp L       &kp MINUS  &kp ENTER
&td_shift_caps  &kp Z    &kp X     &kp C             &kp V      &kp B                  &kp C_MUTE  &none      &kp N      &kp M    &kp JP_COMMA  &kp JP_DOT  &kp UP        &kp RSHFT
&mo 4  &kp LALT  &kp LGUI  &mo 2  &mt_esc_ctrl LCTRL TAB  &kp SPACE  &kp SPACE  &mt_ret_cmd LGUI BSPC  &mo 1  &kp LEFT  &kp DOWN  &kp RIGHT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        Lower_layer {
            display-name = "Lower";
            bindings = <
&trans  &kp LT         &kp GT         &kp LPAR       &kp RPAR            &kp KP_EQUAL                 &kp INTERNATIONAL_6  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp COMMA    &trans
&trans  &kp LBRC       &kp RBRC       &kp LBKT       &kp RBKT            &kp KP_SLASH                        &kp KP_MINUS  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_DOT   &trans
&trans  &kp LG(LS(N3)) &kp LG(LS(N4)) &kp LG(LS(N5)) &kp KP_MULTIPLY &kp KP_ASTERISK     &kp C_MUTE  &none  &kp KP_PLUS   &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_N0    &trans
&trans  &trans         &trans         &trans         &kp ESC             &trans                             &trans        &trans     &trans     &trans     &trans       &trans

            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        Raise_layer {
            display-name = "Raise";
            bindings = <
&trans  &kp LS(LEFT)   &kp LS(DOWN)   &kp LS(UP)     &kp LS(RIGHT)  &kp EQUAL  &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS    &kp COLON  &kp SEMI   &kp DLLR   &trans       &trans
&trans  &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT      &kp FSLH                            &kp MINUS   &kp EXCL   &kp QMARK  &kp AMPS   &kp PRCNT    &trans
&trans  &kp HOME       &kp PG_DN      &kp PG_UP      &kp END        &kp ASTERISK    &kp C_MUTE  &none   &kp PLUS    &kp AT     &kp HASH   &kp TILDE  &kp UP       &trans
&trans  &trans         &trans         &trans &mt_esc_ctrl LCTRL TAB  &trans               &trans  &kp DEL &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS  &trans &trans &trans   &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        naginata_layer {
            display-name = "Naginata";

            // Naginata input layer - 31 keys using &ng behavior
            // Same layout as default layer but with &ng bindings
            // Note: Arrow keys are set to &trans so that holding MO(1) (Lower)
            // will surface HOME/END/PG_UP/PG_DN from Layer 1.

             bindings = <
&trans    &ng Q  &ng W  &ng E  &ng R      &ng T                        &ng Y      &ng U    &ng I      &ng O     &ng P     &trans
&trans    &ng A  &ng S  &ng D  &ng F      &ng G                        &ng H      &ng J    &ng K      &ng L     &ng MINUS &trans
&trans    &ng Z  &ng X  &ng C  &ng V      &ng B  &kp C_MUTE  &none     &ng N      &ng M    &ng COMMA  &ng DOT   &kp UP    &trans
&trans    &trans &trans &mo 2  &trans &ng SPACE                        &ng SPACE  &mt_ret_cmd LGUI DEL  &mo 1  &trans &trans &trans
// 6番目と7番目を &ng SPACE にする
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        third_layer {
            display-name = "3rd";
            bindings = <
&trans  &kp C_BRI_DN   &kp C_BRI_UP    &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS   &kp C_AC_SEARCH    &kp SQT                          &kp CARET  &kp N7   &kp N8   &kp N9   &kp CAPS      &trans
&trans  &kp C_PREV     &kp C_PP        &kp C_NEXT                          &kp UNDER          &kp DQT                          &kp PIPE   &kp N4   &kp N5   &kp N6   &kp RA(BSLH)  &trans
&trans  &bt BT_SEL 0   &bt BT_SEL 1    &bt BT_SEL 2                        &bt BT_CLR         &kp GRAVE  &kp C_MUTE  &none     &kp N0     &kp N1   &kp N2   &kp N3   &kp UP        &trans
&mo 4   &kp LALT       &kp LGUI        &mo 2                       &mt_esc_ctrl LCTRL TAB     &kp SPACE                  &kp SPACE  &mt_ret_cmd LGUI DEL  &mo 1  &kp LEFT  &kp DOWN  &kp RIGHT
// 6番目と7番目を &kp SPACEに戻す
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        // extra2 ブロックは すぐに使える「予約レイヤー」
        extra2 {
            display-name = "Reserved";
            status = "reserved";
            bindings = <
&trans &trans &trans &trans &trans &trans                  &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans                  &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans                  &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};
